name: CI - Python & Flask Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: |
          export TESTING=1
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest --maxfail=1 --disable-warnings -q
      #5. Set up Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 6. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 7. Build Docker image
      - name: Build Docker image
        run: |
          IMAGE_NAME=bege352/doctorplatform-web
          docker build -t $IMAGE_NAME:latest .
          docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.sha }}

      # 8. Push Docker image to Docker Hub
      - name: Push Docker image
        run: |
          IMAGE_NAME=bege352/doctorplatform-web
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }} 
      # 9. Trigger deployment on Render.com 
      - name: Trigger Render Deployment
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
            -H "Content-Type: application/json" \
            -d '{"clearCache": true}' \
            https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys    
